.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-body {
  padding-top: 2em;
}

.todo-item {
  padding: 2em;
  width: 15em;
  height: 1em;
  border: 2px grey dashed;
  border-radius: 3px;
  background-color: rgba(95, 223, 235, 0.5);
  margin: 2em auto 2em auto;
}

.todo-item label {
  margin-left: 1em;
}

input[type='text'] {
  height: 2em;
  line-height: 2em;
  font-size: 16pt;
  border-radius: 3px;
  width: 20em;
}

button {
  height: 2em;
  width: 4em;
  font-size: 16pt;
  border-radius: 3px;
  margin-left: 1em;
}
